
.home-team {
    align-items: center;
    /* background: url(https://i.imgur.com/77LJQ2y.webp) 0 0 no-repeat; */
    background: rgb(143, 0, 72);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    max-height: 300px;
}
.team-inner-div {
    display: flex;
    justify-content: space-around;
}
.follow-us-title {
    margin: 30px auto;
    text-align: center;
    padding: 10px 15px;
    font-size: 3rem;
    font-family: sans-serif;
    max-width: 840px;
    color: white;
}
.team-icon-container {
    padding: 0 0 50px 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.team-icon-container a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}
.team-icon-container a:hover {
    opacity: 60%;
    transform: translateY(-5px) scale(1.1);
}
.team-icon-container a:active {
    transform: translateY(2px) scale(0.95);
}

@media (max-width: 1030px) {
    .home-team {
        align-items: center;
        /* background: url(https://i.imgur.com/77LJQ2y.webp) 0 0 no-repeat; */
        background: rgb(143, 0, 72);
        background-position: 50%;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding: 60px;
        position: relative;
    }
    .follow-us-title {
        margin: 10px auto;
        text-align: center;
        padding: 0px 0px;
        font-size: 2.6rem;
        font-family: sans-serif;
        max-width: unset;
        color: white;
    }
    .team-icon-container {
        padding: 20px 0 5px 0;
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1rem;
    }
}

@media (max-width: 750px) {

}

@media (max-width: 450px) {
    .home-team {
        max-height: 10px;
    }
    .follow-us-title {
        font-size: 1.5rem;
    }
    .team-icon-container {
        padding: 0 0 5px 0;
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.8rem;
    }
}

@media (max-width: 275px) {
    .home-team {
        padding: 40px;
    }
}