*,
::after,
::before {
    box-sizing: border-box;
}

/* fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap"); */

:root {
    /* colors */
    --black: #222;
    --white: #fff;
    --yellow: #fbec4b;
    --blue: #002e6d;
    --blue-dark: #052754;
    --blue-light: #004080;
    --grey-light: #dde4ed;
    --grey-dark: #64748b;
    --violet: rgb(143, 0, 72);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    padding: 0;
    margin: 0;
    font-size: 18px;
    background-color: #f6f6f6;

}

a,
a:active {
    color: var(--black);
}
/*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*-*7/11/23 3:26am*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*/
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-weight: bold;
    line-height: 1.3;
    text-transform: capitalize;
}
/*We recieved an error in lighthouse and this is my temporary fix */

/*Title: Heading elements are not in a sequentially-descending order*/
/*Description: Properly ordered headings that do not skip levels convey the semantic structure of the page, making it easier to navigate and understand when using assistive technologies.*/
/*Link: Learn more about heading order. ~> https://dequeuniversity.com/rules/axe/4.6/heading-order*/
/*Reference: Failing Elements ~> h4.footer-title*/

/*Temporary Fix*/
/*Footer.js has span's instead of h4's for the temporary fix and added id h-four-temp-fix because className already present*/
#h-four-temp-fix {
    margin: 0;
    margin-bottom: 1.38rem;
    font-weight: bold;
    line-height: 1.3;
    text-transform: capitalize;
    font-size: 0.7rem;
    font-weight: 100;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: -40px;
    font-family: 'Times New Roman', Times, serif;
}
/*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*/

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.text-center {
    text-align: center;
}

.error-section {
    padding: 100px;
}
/* buttons */

.btn {
    cursor: pointer;
    color: var(--black);
    background: var(--white);
    border: transparent;
    padding: 0.375rem 0.75rem;
    transition: 0.3s all ease-in-out;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    opacity: 0.9;
}

.active {
    color: var(--primary-500);
}

.container {
    padding: 0 35px;
    max-width: 1200px;
    margin: 0 auto;
}

.page-container {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.home-map,
.location-map-section {
    height: 600px;
}

.fa-map-marker-alt {
    font-size: 30px;
    color: rgb(143, 0, 72);
    cursor: pointer;
    z-index: 10;
}

.fa-map-marker-alt:hover {
    transform: translate(0px, -3px);
}

.map-float-menu {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
}
.pagination-arrows {
    display: flex;
    margin-bottom: 7px;
    padding: 3px 1px 0px 5px;
}
.pagination-arrow {
    width: 180px;
}
.pagination-arrow .fas {
    font-size: 1rem;
    color: rgb(143, 0, 72);
}
.pagination-arrow:disabled .fas {
    opacity: 0.7;
}
.pagination-arrow:hover {
    cursor: pointer;
}
.pagination-arrow:active {
    transform: translateY(2px) scale(0.95);
}
.pagination-arrow:disabled {
    opacity: 1; /* Opacity for disabled state */
}
.map-float-title {
    font-size: 16px;
    margin: 0 0 3px 0;
    color:rgb(143, 0, 72);

}

.map-float-info {
    font-size: 12px;
}

.map-float-info-container {
    background-color: var(--white);
    display: flex;
    line-height: 1.3;
    margin: 5px 0 5px 5px;
    width: fit-content;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    padding: 3px 10px;
}

.map-float-mobile-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map-float-info-container.show-extra {
    border: 2px solid rgb(143, 0, 72);
}

.map-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.map-float-menu-info {
    flex: 1 1 auto;
    padding: 7px 10px;
    width: 160px;
}

.map-float-menu-extra {
    display: none;
    padding: 7px 10px;
    width: 160px;
}

.show-extra .map-float-menu-extra {
    display: block;
}

.mobile-show {
    display: none;
}

.info-window-container {
    background-color: var(--white);
    border-radius: 2px;
    box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%);
    font-size: 14px;
    padding: 10px 10px 0;
    position: relative;
    width: 220px;
    z-index: 100;
    bottom: 255px;
    left: -235px;
}

.chicago-office {
    bottom: 210px;
}

.info-window-container.marker-selected.chicago {
    bottom: 255px;
    left: -185px;
}

.info-window-text {
    font-size: 13px;
    width: 165px;
}

.info-window-image {
    border-radius: 0 0 2x 2px;
}

.close-info-window {
    position: absolute;
    top: 3px;
    right: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
}

.info-window-image-container {
    margin: 10px -10px 0 -10px;
}

/*CAROUSEL STYLES */

.home-hero {
    position: relative;
    min-height: 720px;
    /* background-color: var(--blue); */
    background-color: white;
    /* border-bottom: 5px solid rgb(143, 0, 72); */
}

.Carousel-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.slide {
    height: 100%;
    width: 100%;
}

.slide:not(.first-slide) .show {
    animation: fade 1.5s ease-in-out;
}

.show {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Define the fade-in animation */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Define the fade-out animation */
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Apply the initial animation to the element */
  .carousel-img {
    animation: fadeIn 0.5s ease-in forwards; /* Fade in over 0.5 seconds */
    height: 100%;
    width: 100%;
  }
  
  /* Apply the fade-out animation after a delay */
  .carousel-img.fade-out {
    animation: fadeOut 0.5s ease-out forwards; /* Fade out over 0.5 seconds */
    animation-delay: 3s; /* Delay the fade-out for 3 seconds */
  }
  
  

@keyframes fadeOut {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.not-show {
    display: none;
}
/* HEADER STYLES */
.main-header {
    background-color: var(--violet);
    padding: 25px 0 0 0;
}

.header-title-div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    line-height: 1em;
    padding: 25px;
    text-transform: none;
}

.logo-link {
    display: flex;
    flex-direction: row;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
}

.header-image-container {
    display: flex;
    flex-direction: row;

}
.usa-flag {
    display: inline-block;
    font-size: 24px; /* Adjust the size as needed */
  }
  
  .stripes {
    color: red; /* Red color for stripes */
  }
  
  .stars {
    color: blue; /* Blue color for stars */
  }
  
.header-image {
    height: auto; /* This allows the image to be responsive */
    background-size: cover; /* Adjust the background size as needed */
    background-repeat: no-repeat;
}

.header-title {
    font-size: 1.4rem;
    max-width: 480px;
    margin: 0px;
}

.header-button-yellow {
    background-color: white;
    border-style: solid;
    border-color: var(--violet);
    border-width: 2px;
}

.header-button-yellow:active {
    color: var(--black);
}
.navbar-oar-buttons {
    display: flex;
}

.navbar-special-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-button-dark,
.header-button-dark:active {
    background-color: var(--violet);
    color: var(--white);
    margin-right: 10px;
    border-style: solid;
    border-color: var(--white);
    border-width: 1px;
}

.team-btn,
.team-btn:active {
    background-color: var(--blue);
    color: var(--white);
    padding: 20px 35px;
}

.header-button-blue,
.header-button-blue:active {
    background-color: var(--blue-dark);
    color: var(--white);
    margin-right: 10px;
}

/* END HEADER STYLES */

/* NAVBAR STYLES */

.navbar {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.nav-link-container {
    position: relative;
}

.link-items {
    position: relative;
}

.nav-link {
    display: block;
    color: var(--white);
    padding: 18px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-family: sans-serif;
    font-size: 0.9em;
}

.nav-link:hover {
    background-color: rgba(248, 247, 246, 0.3);
}

.sub-link.mobile-nav-link {
    display: none;
}

.nav-link:active {
    color: var(--white);
}

.nav-link.active {
    border-bottom: 2px solid rgb(143, 0, 72);
}

.nav-link-container:hover > .nav-link {
    background-color: var(--blue-dark);
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--white);
    z-index: 2;
}

.submenu-list {
    min-width: 264px;
    display: grid;
    align-items: center;
    grid-gap: 0px; /* Adjust the gap between items */
    padding: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* Initial three columns */

}

.submenu-two-column {
    min-width: 527px;
    display: grid;
    align-items: center;
    grid-gap: 0px; /* Adjust the gap between items */
    padding: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Initial three columns */

}

.submenu-multi-column {
    min-width: 860px;
    display: grid;
    align-items: center;
    grid-gap: 0px; /* Adjust the gap between items */
    padding: 10px;
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* Initial three columns */

}

.sub-link {
    padding: 15px 20px 15px 30px;
    text-decoration: none;
    border-bottom: 1px solid var(--grey-light);
    font-size: 1rem;
}

.sub-link:active {
    color: rgba(248, 247, 246, 0.3);
}

.sub-link:hover,
.sub-link.active {
    background-color: rgba(151, 150, 149, 0.2);
}

/* END NAVBAR STYLES */

/* START REQUESTAPPOINTMENTFORM STYLES */
#appointment-form {
    border-radius: 10px;
    width: 60%;
    height: 90%;
    /* animation: fadeOut 1.5s ease-out; */
    transition: opacity 0.5s; /* Add a transition for opacity */
}
.form-title {
    border-bottom: 1px solid var(--grey-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    background-color: #ffffff;
    min-width: 60%;
    align-self: center;
    padding: 0px 40px 0px 40px;
    margin: 30px 0px 0px 0px;

}
#provider-location:hover {
    font-weight: 700;
}
.title-request-appointment {
    display: flex;
    font-weight: 600;
    letter-spacing: 0.05rem;
    min-width: 60%;
    align-self: center;
    font-size: 1.1rem;
    font-family: sans-serif; 
}
.close-button {
    display: flex;
    background-color: transparent;
    border: none;
    opacity: 20%;
    font-family: monospace;
    font-size: 2rem;
}
.close-button:active {
    opacity: 100%;
}
#chat-middle-component-request-apt {
    display: flex;
    flex: 1 1;
    opacity: 100%;
    /* align-self: center; */
    /* justify-content: center; */
    border-radius: 4.5px;
    z-index: 2;
    /* margin-bottom: 11.2vh; */
    bottom: 0;
    width: 100%;
    min-width: 60%;
    transition: opacity 2s;
}
#chat-form-lines-request-apt {
    width: 100%;
    margin: 0px 0px 0px 20px;
    padding: 0.2rem 0.5rem;
}
#chat-form-lines-request-apt input {
    display: flex;
    border: none;
    /* padding: 0.5rem; */
    border-radius: 3px;
    background-color: rgba(192,200,200, 25%);
    width: 100%;
    height: 40px;

}
.apt-request-radio {
    font-size: 0.9rem;
    padding: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
}
.radio-circle {
    width: 20px; /* Increase the width to make the circle larger */
    height: 20px; /* Increase the height to make the circle larger */
    border: 2px solid #333; /* Border style for the circle */
    border-radius: 50%; /* Make it a circle */
    display: inline-block;
    justify-self: baseline;
    margin-right: 8px; /* Adjust spacing between the circle and label text */
}
.select-location {
    display: flex;
    border: none;
    /* padding: 0.5rem; */
    border-radius: 10px;
    background-color: rgba(192,200,200, 25%);
    width: 99%;
    min-height: 40px;
    font-size: 1rem;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
}
.select-location-title-and-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.new-returning-div {
    display: flex;
    flex-direction: row;
}
.thank-you-message {
    color: 'black';
    z-index: 20;
    box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%);
}
#location-block:hover {
    font-weight: 800;

}
/* END REQUESTAPPOINTMENTFORM STYLES */

/* AboutUsComponent styles */
.about-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 60vh; */
}
.about-container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.about-title {
    padding: 0px 0px 0px 0px;
    font-size: 3.2rem;
    width: 65vw;
    text-align: center;
    font-weight: 600;
    line-height: 50px;
}
.about-title-right {
    text-align: left;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    font-weight: 400;
    border-bottom: 1px solid rgb(143, 0, 72); /* Set the color you want for the line */
    padding-bottom: 15px; /* Adjust as needed to control the space between the text and the line */
    color: white;
    font-size: 3rem;
    width: 75%;
    line-height: 50px;
}
.about-bar {
    padding: 0px;
    margin: 0px;
}
.about-container-bottom {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.about-container-bottom-left {
    display: flex;
    flex: 1;
    /* background-image: url(https://i.imgur.com/thiV4LE.webp); */
    background-size: cover;

    /* height: 100vh; */
    width: 100%;
    justify-content: center;
    align-items: center;
}
.about-container-bottom-right {
    display: flex;
    flex: 1;
    background-color: #232323;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-right-button {
    width: 75%;
    padding: 20px 0px 20px 0px;
}
.about-description-right {
    text-align: left;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    width: 75%;

}
.about-description {
    text-align: center;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    font-weight: 400;
    color: black;
    font-size: 1.2rem;
    width: 75%;
    border-bottom: 1px solid black; /* Set the color you want for the line */
    padding-bottom: 15px; /* Adjust as needed to control the space between the text and the line */

}
.header-button-white,
.header-button-white:active {
    background-color: var(--white);
    color: var(--black);
    align-self: flex-start;
}

#location-dropdown {
    display: flex;
    font-size: 1rem;
    width: 80vw;
    border: none;
    background-color: none;
    margin: 0rem;
    justify-content: space-between;
    /* padding: 5px; */
    background-color: rgba(192,200,200, 25%);
    width: 97%;
    height: 40px;
    border-radius: 10px;
    inset: none !important;
    translate: none !important;

}
#location-block {
    /* padding: 5px; */
    background-color: white;
    width: 100%;
    height: 40px;
}
/* End AboutUSComponent styles */

/* PAGES STYLES */
.pages-header {
    background-image: url(https://i.imgur.com/IvKGHXY.webp);
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    border-bottom: 5px solid rgb(143, 0, 72);
    color: #fff;
    padding: 40px;
    position: relative;
}

.pages-header:after {
    background-color: rgb(80, 80, 80);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
}

.page-top-header {
    display: flex;
    padding: 50px 0 0 0;
}

.page-image-container {
    width: 100%;
    padding: 0 30px 30px 0;
}

.page-info {
    width: 100%;
}

.pages-title {
    position: relative;
    z-index: 1;
    font-size: 3rem;
}

.page-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.grid-item {
    padding: 22px;
    margin: 10px;
    width: calc(90% / 4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.physician-header {
    text-align: center;
    margin: 50px 0;
}

.physician-name {
    font-size: 2rem;
    margin: 35px 0;
}

.page-description {
    font-size: 1rem;
}

.specialty-list {
    padding: 0 0 0 15px;
}

.specialty-item {
    font-size: 17px;
    margin: 13px 0;
}

.physician-name.mobile {
    display: none;
}

.physician-link {
    text-decoration: none;
}

.physician-link:active {
    transform: translateY(2px) scale(0.95);
}

.physician-link .fas {
    margin: 0 0 0 10px;
}

.physician-left {
    width: 40%;
    padding: 50px 50px 50px 15px;
}

.physician-right {
    width: 60%;
    padding: 50px 50px 15px;
}

.specialties {
    display: flex;
    margin: 0 -15px;
}

.specialties-item {
    padding: 15px;
    width: calc(100% / 2);
}

.specialties-list {
    padding: 0 0 0 15px;
    font-size: 17px;
}

.specialties-mobile {
    display: none;
    margin: 0 -15px;
}

.specialties-list-item a {
    color: blue;
    text-decoration: underline; /* Optional: Add underline to indicate it's a link */
}
.popout-content {
    border-radius: 1px;
    box-shadow: 0.5px 0.5px 214px rgba(0,0,0,.1);
    margin: 20px 0;
    padding: 10px 20px;
}
/* END PAGES STYLES */

/* START LOCATIONS CHATBOX */
#chat-comp-div {
    display: flex;


    align-items: center;
    z-index: 2;
  }
  #chat-comp-div-two {
    align-items: center;
    z-index: -4;
  }
  #chat-comp-div-three {
    align-items: center;
    z-index: -4;
  }
  #chat-comp-div-five {
    display: flex;
    position: fixed;
    align-items: center;
    z-index: -5;
  }
  #chat-comp-div-no-animation {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #chat-comp-div-no-animation > * {
    padding: 20px;
  }
  #chat-comp-div::after {
    display: flex;
    background: #BAE1FB;
    border-radius: 300px;
    height: 70px; 
    width: 72px;
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    opacity: 10%;
    content: "";
    z-index: -4;
    transition: 0.3s ease-in-out;
    position: fixed;
  }
  #chat-comp-div-two::after {
    display: flex;
    background: rgba(251,236,75, 70%);
    border-radius: 300px;
    height: 70px; 
    width: 70px;
    animation: pulsateTwo 3s ease-out;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
    opacity: 10%;
    content: "";
    z-index: -4;
    transition: 0.3s ease-in-out;
    align-items: center;
  }
  #chat-comp-div-three::after {
    display: flex;
    background: rgba(186,225,251, 60%);/*#BAE1FB|Dark Blue Theme color*/
    border-radius: 300px;
    height: 70px; 
    width: 70px;
    animation: pulsateThree 3s ease-out;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    opacity: 10%;
    content: "";
    z-index: -4;
    transition: 0.3s ease-in-out;
    align-items: center;
  }
  #chat-comp-div-five::after {
    display: flex;
    background: #BAE1FB;
    border-radius: 300px;
    height: 70px; 
    width: 70px;
    animation: pulsateFive 3s ease-out;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
    opacity: 10%;
    content: "";
    z-index: -4;
    transition: 0.3s ease-in-out;
    align-items: center;
  }
  #chat-comp-div:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    border-style: dashed;
    border-color: #BAE1FB;
    border-width: 2px;
    transition: 150ms;
  }
  #chat-comp-div-two:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    border-style: dashed;
    border-color: #BAE1FB;
    border-width: 1px;
    transition: 150ms;
  }
  #chat-comp-div-three:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    border-style: dashed;
    border-color: #BAE1FB;
    border-width: 1px;
    transition: 150ms;
  }
  #chat-comp-div-five:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    border-style: dashed;
    border-color: rgba(251,236,75, 30%);
    border-width: 1px;
    transition: 150ms;
  }
  #chat-comp-div:active {
    background-color: #BAE1FB;
     box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  #chat-comp-div-two:active {
    background-color: #BAE1FB;
    box-shadow: 0 2px #666;
     transform: translateY(2px);
  }
  #chat-comp-div-three:active {
    background-color: #BAE1FB;
    box-shadow: 0 2px #666;
     transform: translateY(2px);
  }
  #chat-comp-div-five:active {
     background-color: #BAE1FB;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  @keyframes pulsate {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      transform: scale(1.6, 1.2);
      opacity: 0.0;
    }
  }
  @keyframes pulsateTwo {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      transform: scale(1.6, 1.2);
      opacity: 0.0;
    }
  }
  @keyframes pulsateThree {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      transform: scale(1.6, 1.2);
      opacity: 0.0;
    }
  }
  @keyframes pulsateFive {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      transform: scale(1.6, 1.2);
      opacity: 0.0;
    }
  }
  @media screen and (max-width: 858px) {
    #chat-comp-div {
      display: flex;
      position: fixed;
      bottom: 2%;
      right: 4%;
      align-items: center;
      z-index: 2;
    }
    #chat-comp-div-no-animation {
      right: 2%;
      left: 2%;
      bottom: 0%;
      align-items: center;
      justify-content: center;
    }
  }
  #dropdown-list {
}
#form-hover-off:hover {

}
#chat-box-dropdown-div-locations-div {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 20rem;
  padding: 0.5rem;
}
#chat-box-dropdown-div-locations-items {
  display: flex;
  font-size: 0.9rem;
}
#chat-box-dropdown-div-locations-none {
  display: none;
  flex-direction: row;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9rem;
  align-items: space-between;
  width: 20rem;
  padding: 0.3rem;
  width: 20rem;
  flex-direction: row;
  align-items: space-between;
}
#chat-box-dropdown-div-locations-show {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9rem;
}
#chat-box-dropdown-div-locations-items:hover {
  cursor: pointer;
}
#chat-box-dropdown-div-new-or-returning-div {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
#chat-box-dropdown-div-new-or-returning-items {
  display: flex;
/*  padding-left: 1rem;*/
/*  padding-right: 1rem;*/
  font-size: 0.9rem;
  align-items: space-between;
  width: 20rem;
}
#chat-box-dropdown-div-new-or-returning-items:hover {
  cursor: pointer;
}
#chat-box-dropdown-div-locations-items:hover > #d-item-locations {
  color: rgba(0,46,109, 100%);
  font-weight: 600;
}
#chat-box-dropdown-div-new-or-returning-items:hover > #d-item-new-or-returning {
  color: rgba(0,46,109, 100%);
  font-weight: 600;
}
#dropdown-list {
  flex-direction: column;
  display: none;
  padding: 0.2rem;
  border: none;
  box-shadow: none;
}
#title-and-list {
  display: flex;
}
#dropdown-basic-button {
  display: none;

  color: rgba(128, 128, 128, 75%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  border: none !important;
  font-size: inherit;
  font-family: Open Sans;
  line-height: inherit;
  align-items: center;
  position: absolute;
  top: 0;
  margin-top: 2rem;
  left: 0;
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: 0rem;
  padding: 0.5rem;
  width: 20rem;
  box-shadow: none;
}
#title-locations:hover ~ #dropdown-basic-button {
  display: block;
}
#dropdown-basic-button:hover {
  display: block;
}
#dropdown-basic-button-locations {
  display: none;
  color: rgba(128, 128, 128, 100%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  font-size: 0.9rem;
  font-family: Open Sans;
/*  line-height: inherit;*/
  align-items: flex-start;
  background-color: #fff;
  align-self: center;
  margin-top: -240px;
/*  top: 1;*/
  position: absolute;
  flex-direction: column;
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: 0rem;
/*  padding: 0.3rem;*/
  width: 20rem;
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  border-width: 0.3px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.15, 0.15);
/*  padding-top: 1rem;*/
/*  padding-bottom: 1rem;*/
/*  pointer-events: none;*/
}
#dropdown-basic-button-locations-show {
  display: none;
  color: rgba(128, 128, 128, 100%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  font-size: 0.9rem;
  font-family: Open Sans;
/*  line-height: inherit;*/
  align-items: flex-start;
  background-color: #fff;
  align-self: center;
  margin-top: 3rem;
  top: 1;
  pointer-events: none;
  position: absolute;
  flex-direction: column;
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: 0rem;
  padding: 0.3rem;
  width: 20rem;
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.15, 0.15);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#title-locations {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  color: rgba(128, 128, 128, 75%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  padding: 0.3rem;
  background-color: rgba(192,200,200, 15%);
}
#title-locations-red {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  color: rgba(128, 128, 128, 105%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  padding: 0.3rem;
  background-color: rgba(192,200,200, 15%);
  border: 1px red solid;
}
#title-locations:hover ~ #dropdown-basic-button-locations {
  display: flex;
}
#dropdown-basic-button-locations:hover {
  display: flex;
}
#title-new-or-returning {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  color: rgba(128, 128, 128, 75%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  padding: 0.3rem;
  background-color: rgba(192,200,200, 15%);
}
#title-new-or-returning-red {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  color: rgba(128, 128, 128, 100%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  padding: 0.3rem;
  background-color: rgba(192,200,200, 15%);
  border: 1px red solid;

}

#dropdown-basic-button-new-or-returning {
display: none;
    color: rgba(128, 128, 128, 100%);
    font-size: 0.9rem;
    font-family: Open Sans;
    /* line-height: inherit; */
    align-items: flex-start;
    background-color: #fff;
    align-self: center;
    margin-top: -154px;
    top: 1;
    position: absolute;
    flex-direction: column;
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
    /* padding: 0.3rem; */
    width: 20rem;
    z-index: 1;
    border-color: rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    border-width: 1px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.15, 0.15);
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
}
#dropdown-basic-button-new-or-returning-show {
  display: none;
  color: rgba(128, 128, 128, 100%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  font-size: 0.9rem;
  font-family: Open Sans;
/*  line-height: inherit;*/
  align-items: flex-start;
  background-color: #fff;
  align-self: center;
  margin-top: 3rem;
  top: 1;
  position: absolute;
  flex-direction: column;
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: 0rem;
  padding: 0.3rem;
  width: 20rem;
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.15, 0.15);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#title-new-or-returning:hover ~ #dropdown-basic-button-new-or-returning {
  display: flex;
}
#dropdown-basic-button-new-or-returning-none {
  display: none;
  color: rgba(128, 128, 128, 100%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  font-size: inherit;
  font-family: Open Sans;
  line-height: inherit;
  align-items: flex-start;
  background-color: #fff;
  align-self: center;
  top: 0;

  position: absolute;
  flex-direction: column;
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: 0rem;
  padding: 0.6rem;
  width: 20rem;
  box-shadow: none;
}
#dropdown-basic-button-new-or-returning-two {
  display: none;
  color: rgba(128, 128, 128, 100%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  font-size: inherit;
  font-family: Open Sans;
  line-height: inherit;
  align-items: flex-end;
  background-color: #fff;
/*  align-self: center;*/
/*  top: 0;*/

/*  position: absolute;*/
  flex-direction: column;
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: 0rem;
  padding: 0.6rem;
  width: 20rem;
  box-shadow: none;
}
#caret-down {
  font-size: 1rem;
}
.dropdown-toggle::after{
  font-size: 1.2rem; 
}
#dropdown-helper {
  border: none;
  display: flex;
  justify-content: space-between;
  color: rgba(128, 128, 128, 75%);/*#808080|Greyed Out Text Color Chat Comopnent*/
  padding: 0.5rem;
  background-color: rgba(192,200,200, 15%);
  width: 20rem;
  align-items: center;
}
#dropdown-basic-button-new-or-returning:hover {
  display: block;
}
#dropdown-helper button:hover ~ #dropdown-basic-button-new-or-returning {
  display: block !important;
}
#chatbox-div-parent {
  position: relative;
}
#chatbox-div {
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  overflow: hidden;
  z-index: 11;
  opacity: 100%;
  transition: background-color 2.2s, opacity 6s;
  margin-bottom: 1.5vw;
  padding: 25px;
  
}
#chat-top-component {
  display: flex;

  opacity: 100%;

  background-color: #002e6d;
  flex-direction: row;
/*  border: 2px solid rgba(224,224,224, 80%);*/
  transition: opacity 2s;
}
#top-info-div {
  display: flex;
  flex-direction: column;
  font-size: medium;
  color: white;
  padding-left: 0.5vw;
  padding-top: 3.5vh;
  text-align: left;
  border-radius: 8px;
}
#top-info-div h2 {
  font-size: 1.4rem;
  padding-left: 1.5vw;
  padding-bottom: 1.2vh;
}
#top-info-div h6 {
  font-size: small;
  padding-left: 1.5vw;
}
#field-id {
  width: 10rem;
  border-radius: 3px;
  background-color: rgba(192,200,200, 35%);
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
#field-id:hover {

}
#field-id-red {
  width: 10rem;
  border-radius: 3px;
  background-color: rgba(192,200,200, 35%);
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border: 1px solid red !important;
  border-right: 1px solid red !important;
}
#field-id-red:hover {

}
#chat-middle-component {
    display: flex;
    flex: 1 1;
    opacity: 100%;
    /* align-self: center; */
    /* justify-content: center; */
    border-radius: 4.5px;
    z-index: 2;
    /* margin-bottom: 11.2vh; */
    bottom: 0;
    transition: opacity 2s;
}
#chat-bottom-component {
  display: flex;
  flex: 1;
  align-items: center;
  opacity: 100%;
  justify-content: flex-end;
  flex-direction: column;
  background-color: rgba(0, 46, 109, 15%);
  padding-right: 1rem;
  padding-left: 1rem;
  transition: opacity 2s;
}
#chat-box-under-constr {
  color: #002e6d;
  width: 100%;
  font-size: x-large;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
#x-out-div-chatbox {
  padding-top: 1vw;
  padding-right: 1.5vw;
  color: white;
  opacity: 70%;
  font-size: xxx-large;
 font-family: Open Sans;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
#x-out-div-chatbox:hover {
  transition: 0.3s ease-in-out;
  opacity: 100%;
}
#x-out-div-chatbox:active {
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}
#chatbox-inner-div {
  align-self: center;
}
#chat-box-button {
  display: flex;
  padding: 8px 20px 8px 20px;
  margin: 1.6rem;
  border-radius: 8rem;
  border: none;
  background-color: rgba(143, 0, 72, 40%);
  color: white;
  align-self: center;
  font-size: 0.9rem;
  opacity: 30%;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s; /* Add a transition for opacity */
}
.hide-button {
    opacity: 0; /* Set opacity to 0 to hide it */
    pointer-events: none; /* Disable pointer events to prevent clicks */
  }
#chat-box-button:active {
  transform: translateY(2px);
}
#chat-box-button-ready {
    display: flex;
    padding: 8px 20px 8px 20px;
    margin: 1.6rem;
    border-radius: 8rem;
    border: none;
    background-color: rgba(143, 0, 72, 100%);
    color: white;
    align-self: center;
    font-size: 0.9rem;
    opacity: 80%;
    align-items: center;
    justify-content: center;
  }
#error-div {
  animation-name: appear;
  animation-duration: 2s;
  margin: -3px;
  padding: 0rem;
  padding-left: 0.5rem;
}
@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes disappear {
  0% { opacity: 1; }
  100% { opacity: 0; }
} 
@-webkit-keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#provider-location {
    padding: 5px;
}
#chat-box-button-blue {
  display: flex;
  padding: 8px 20px 8px 20px;
  margin: 1.6rem;
  border-radius: 8rem;
  border: none;
  background-color: rgba(143, 0, 72, 100%);
  color: black;
  align-self: center;
  font-size: 0.9rem;
  opacity: 80%;
  align-items: center;
  justify-content: center;
}
#chat-box-button-blue:active {
  transform: translateY(0.8px);
}
#chat-box-button-ready:active {
    transform: translateY(0.8px);
}
#touchable {
  opacity: 60%;
  transition: 0.3s ease-in-out;
  font-size: 0.8rem;
}
#touchable:hover {
  transition: 0.1s ease-in-out;
  opacity: 100%;
}
#touchable:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
#middle-form-top-div {
  display: flex;
  justify-content: initial;
  flex: 1;
}
#chat-form-top-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
#chat-form-inner-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  width: 90%;
  justify-content: space-between;
}
#field-id::placeholder {
    color: rgba(128, 128, 128, 75%);/*#808080|Greyed Out Text Color Chat Comopnent*/
}
#chat-form-lines {
    width: 100%;
}
#chat-form-lines input {
    display: flex;
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: rgba(192,200,200, 25%);
    width: 100%;
    height: 40px;

}
#first-last {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  justify-content: space-between;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
#first-last input {
  color: black;
}
#terms-and-policy {
  font-size: 0.8rem;
  margin-bottom: -0.8rem;
  padding: 25px;
  line-height: 20px;
}
@media screen and (max-width: 501px) {
  #chatbox-div-parent {
    position: relative;
  }
  #chat-top-component {
    display: flex;
    justify-content: space-between;
    background-color: #002e6d;
    flex-direction: row;
    height: 27.2vh;
    z-index: 4;
  }
  #top-info-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: medium;
    color: white;
    padding-left: 0.5rem;
    padding-top: 1.5rem;
    text-align: left;
  }

  #top-info-div h2 {
    font-size: 1.4rem;
    padding-left: 0.5rem;
    padding-bottom: 0.8rem;
  }

  #top-info-div h6 {
    font-size: small;
    padding-left: 0.5rem;

  }
  /* #chat-middle-component {
    display: flex;
    flex: 1;
    background-color: #fff;
    width: 92%;
    height: 56.2vh;
    align-self: center !important;
    justify-content: center;
    border-radius: 4px;
    position: absolute;
    z-index: 4;
    margin-bottom: 6.2rem;
    bottom: 0;
  } */

  #chat-bottom-component {
    display: flex;
    flex: 1;
    background-color: rgba(0, 46, 109, 15%);
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  #x-out-div-chatbox {
    padding-top: 1rem;
    padding-right: 1.5rem;
    color: white;
    opacity: 70%;
    font-size: 2.4rem;
   font-family: Open Sans;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  #x-out-div-chatbox:hover {
    transition: 0.3s ease-in-out;
    opacity: 100%;
  }

  #x-out-div-chatbox:active {
    box-shadow: 0 3px #666;
    transform: translateY(2px);
  }
  #chat-box-button {
    padding: 0.6rem;
    margin: 1.6rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #697492;
    color: white;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  #terms-and-policy {
    font-size: 0.6rem;
    margin-bottom: -0.8rem;
  }
}
/* END LOCATIONS CHATBOX */

/* EXPERTISE STYLES */

.home-expertise {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/public/CaliBackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home-expertise .fas {
    color: rgb(143, 0, 72);
    font-size: 1.8rem;
}

.expertise-header {
    margin: 50px 25px 25px 25px;
    text-align: center;
    color: var(--white);
    font-size: 3rem;
    font-family: sans-serif;
}

.expertise-header-description {
    width: 980px;
    margin: 20px auto;
    text-align: center;
    font-weight: 500;
    color: white;
}

.expertise-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 10px; /* Adjust spacing between items */
    padding: 60px 0px 0px 0px;
}

.expertise-name {
    font-weight: bold;
    font-family: Roboto;
    font-size: 1rem;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 0.05rem;
}

.link-item {
    text-align: center;
}
.expertise-name:hover {
    text-decoration: underline;
}

.expertise-item {
    width: 25.6%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white); /* Very light blue background */

}

.expertise-image-link {
    transition: 0.3s all ease-in-out;
}

.expertise-image-link:hover {
    opacity: 0.7;
}

.expertise-description {
    margin: 15px 0;
}
/* END EXPERTISE STYLES */

.about-content {
    padding: 50px;
    max-width: 900px;
    margin: 0 auto;
}

.about-image-container {
    max-width: 500px;
    margin: 35px auto;
}

.about-link.btn {
    background-color: var(--blue);
    color: white;
    margin: 10px 10px 10px 0;
}

.about-grid-item {
    margin: 0 0 15px 0;
}

.div-card {
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 20%);
    margin: 20px 0;
    padding: 20px;
}

.section-title {
    margin: 30px auto;
    text-align: center;
    /* padding: 10px 15px; */
    font-size: 3rem;
    font-family: sans-serif;
    max-width: 740px;
    color: white;
}

.follow-us-title {
    margin: 30px auto;
    text-align: center;
    padding: 10px 15px;
    font-size: 3rem;
    font-family: sans-serif;
    max-width: 840px;
    color: white;
}

.home-team {
    align-items: center;
    /* background: url(https://i.imgur.com/77LJQ2y.webp) 0 0 no-repeat; */
    background: rgb(143, 0, 72);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    max-height: 300px;
}
.home-locations {
    align-items: center;
    /* background: url(https://i.imgur.com/77LJQ2y.webp) 0 0 no-repeat; */
    background-image: url('/public/CaliBackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    min-height: 500px;
}

.home-locations {
    /* background: url(https://i.imgur.com/pP2cSdc.webp) 0 0 no-repeat; */
    border-bottom: solid 5px rgb(143, 0, 72);
}

.location-icon-container {
    /* padding: 40px 0 0 0; */
    color: rgb(143, 0, 72);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team-icon-container {
    padding: 0 0 50px 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team-icon-container a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.team-icon-container a:hover {
    opacity: 60%;
    transform: translateY(-5px) scale(1.1);
}

.team-icon-container a:active {
    transform: translateY(2px) scale(0.95);
}

.location-icon-container .fas {
    padding: 6px;

    
}

/* REVIEWS */
.home-reviews {
    border-top: 5px solid rgb(143, 0, 72);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://i.imgur.com/tV7inxB.webp);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 150px 0px 150px 0px;
}

.review-date {
    font-style: italic;
    font-size: 15px;
    max-width: 140px;
}

.review-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-review-container {
    width: calc(88% / 3);
    margin: 0px 0px 0px 0px;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    box-shadow: 0px 0px 6px rgba(143, 0, 72, 50%);
    border-radius: 4px;
    background-color: #696969	;
}

.user-name {
    font-weight: bold;
    font-size: 20px;
}

.review-info {
    position: relative;
    padding: 0 35px;
}

.review-info .fa {
    position: absolute;
    color: rgba(143, 0, 72, 100%);
    font-size: 1rem;
}

.review-info .fa-quote-right {
    bottom: 0;
    right: 0;
}

.review-info .fa-quote-left {
    top: 0;
    left: 0;
}

.review-name-container {
    line-height: 1.3;
    flex: 1 1 auto;
}

.review-top-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-icon {
    font-size: 70px;
    margin: 0 10px 0 0;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name .fa-yelp {
    color: #ff1a1a;
}

.review-paragraph {
    font-style: italic;
    font-size: 1rem;
}

.google-link {
    display: flex;
    flex-direction: row;
    padding: 5px;
    cursor: pointer;
}
.google-link:active {
    transform: translateY(2px); /* Adjust the number of pixels as needed */
}


/* END REVIEWS */

.home-team:after,
.home-locations:after {
    /* background: linear-gradient(
        90.1deg,
        rgba(0, 46, 109, 0.9) 0.2%,
        rgba(251, 236, 75, 0.2) 99.9%
    ); */
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.section-content {
    position: relative;
    z-index: 3;
    max-width: 1024px;
    margin: 0 auto;
}

/*FOOTER STYLES*/
.main-footer {
    background-color: var(--black);
    color: var(--white);
    padding: 50px 25px;

}

.footer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer-item {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: baseline;
}

.footer-item.two-columns {
    width: calc(100% / 2); /* Two columns */
}

.footer-link {
    text-decoration: none;
    color: var(--white);
    font-size: 0.9rem;
}

.footer-link:active {
    color: var(--white);
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-word-wrap {
    font-size: 1.2rem;
    line-height: 1.25;
    align-self: center;
    font-weight: 700;
}

.mobile-menu-button {
    display: none;
    position: absolute;
    font-size: 35px;
    color: var(--grey-dark);
    background: none;
    border: none;
    right: 10px;
}

.mobile-toggle-submenu {
    display: none;
}

/*HOME BANNER*/

.home-banner {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: inherit;
    padding: 55px;
    position: relative;
    /* width: 50%; */
    z-index: 1;
}

.home-banner:after {
    background: rgba(143, 0, 72, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.1px);
    content: '';
    display: inline-block;
    height: 100%;
    left: -200px;
    position: absolute;
    top: 0;
    -webkit-transform: skew(-19deg);
    transform: skew(-18deg);
    width: calc(64% - 148px);
    min-width: 750px;
    z-index: -1;

}

.banner-title-container {
    /* width: 40%; */
    
}

.banner-title {
    font-size: 3.2rem;
    letter-spacing: 0.04em;
    font-weight: 550;
    padding: 0px;
    margin: -5px;
    font-family: sans-serif;
}

.banner-description {
    width: 450px;
    font-size: 1.2em;
}

.home-banner .btn {
           /* T   R    B    L  */
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0 0 10px 0;
    background-color: var(--white);
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
}

#banner-btn-arrow {
    padding: 0px 0px 0px 20px;
    align-self: center;
}


@media (min-width: 1025px) {
    .nav-link-container:hover > .submenu {
        display: flex;
        flex-direction: column;
    }
    
}
@media (max-width: 1650px) {
    .pages-header {
        background-image: url(https://i.imgur.com/V3Vfsqi.webp);
    }
}
@media (max-width: 1360px) {
    .expertise-name {
        font-size: 0.8rem;
    }
}
@media (max-width: 1295px) {
    .pages-header {
        background-image: url(https://i.imgur.com/pCBq2TF.webp);
        background-size: inherit;
    
    }
    .single-review-container {
        width: calc(88% / 2);
    }
}
@media (max-width: 1160px) {
    .expertise-name {
        font-size: 0.8rem;
    }
    .expertise-item {
        width: 30%;
    }
    .header-title {
        display: none;
    }
    .about-title-right {
        font-size: 2rem;
        width: 80%;
    }
    .about-description-right {
        width: 80%;
    }
    .about-right-button {
        width: 80%;
    }
    span#h-four-temp-fix {
        margin: 45px 0 15px 0;
    }

    .mobile-show {
        display: block;
    }

    .expertise-header-description {
        width: auto;
    }

    .main-footer {
        padding: 60px 35px 60px 0;
    }

    .footer-grid {
        display: block;
    }

    .footer-item {
        width: 100%;
    }

    .footer-title {
        margin: 50px 0 20px 0;
    }

    .word-wrap-container {
        display: block;
    }

    .footer-word-wrap {
        display: inline-block;
        margin: 0 15px 0 0;
    }

    /*Mobile Menu */
    .mobile-menu-button {
        display: flex;
        top: 35px;
    }

    .navbar {
        display: none;
    }

    .navbar.mobile-menu-show {
        display: flex;
        flex-direction: column;
    }

    .header-buttons-container {
        margin: 0 40px 0 0;
    }

    .main-header {
        padding: 35px 0;
    }

    .mobile-toggle-submenu {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: transparent;
        border: none;
        color: var(--white);
        font-size: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .nav-link {
        padding: 20px 40px;
    }

    .submenu {
        position: static;
        flex-direction: column;
        width: 100%;
        min-width: 0;
    }

    .sub-link {
        padding: 20px 25px;
        font-size: 0.75rem;
    }

    /*MOBILE MENU CONTROLS */

    .sub-link.mobile-nav-link {
        display: block;
    }
    .About-open .About-nav > .submenu,
    .Services-open .Services-nav > .submenu,
    .Physicians-open .Physicians-nav > .submenu {
        display: flex;
    }

    /*END MOBILE MENU CONTROLS */

    .show-extra .map-float-menu-extra,
    .map-float-info {
        display: none;
    }

    .map-float-info-container.show-extra {
        display: flex;
    }

    .map-float-menu {
        display: flex;
        bottom: 0;
        top: auto;
        width: 100%;
    }

    .map-float-info-container {
        width: calc(100% / 4);
        border-radius: 10px;
        overflow: hidden;
        margin: 3px;
        padding: 0;
    }

    .map-float-mobile-background {
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .map-float-menu-info {
        height: 100px;
        width: 100%;
        padding: 0;
    }

    .map-float-title {
        margin: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-weight: bold;
        font-size: 0.7rem;
        position: relative;
        z-index: 1;
    }
    .pagination-arrows {
        display: flex;
        margin: 0px;
        padding: 3px;
    }
    .pagination-arrow {
        background-color: rgba(80, 80, 80, 0.9);
        margin: 0px;   
        border-radius: 10px;
        border: 1px solid;
        width: 100%;
    }
    .pagination-arrow:disabled {
        opacity: 0.7; /* Opacity for disabled state */
        cursor: default;
    }
    .pagination-arrow:disabled .fas {
        opacity: 0.7;
    }
    .pagination-arrow .fas:disabled {
        opacity: 0.7;
    }

}
@media (max-width: 1015px) {
    .grid-item {
        width: calc(90% / 2);
    }
    .expertise-name {
        font-size: 0.7rem;
    }
    .about-title {
        /* padding: 55px 0px 0px 0px; */
        font-size: 2.5rem;
        width: 70vw;
        text-align: center;
        font-weight: 600;
        line-height: 50px;
    }
    .about-description-right {
        font-size: 0.9rem;
    }
    #chatbox-div {
        padding: 10px 10px 0px 10px;

        display: flex;
        flex-direction: column;
        /*    border-width:1px;*/
        /*    border-style:double;*/
        border-radius: 2px;
        /*    border-color: #BAE1FB;*/
        overflow: hidden;
        z-index: 11;
        opacity: 100%;
      /*  margin-right: 1vw;*/
      transition: background-color 2.2s, opacity 6s;
        margin-bottom: 1.5vw;
      /*  justify-content: flex-end;*/ 
      }
}
@media (max-width: 850px) {
    .expertise-name {
        font-size: 0.8rem;
    }
    .about-container-bottom {
        flex-direction: column;
    }
    .about-container-bottom-left {
        padding: 60vw 0px 0px 0px;
        border-bottom: 4px solid #f34a02;
        display: flex;
        flex: 1;
    }
    .about-container-bottom-right {
        padding: 30px 0px 40px 0px;
    }
    .about-right-button {
        padding: 30px 0px 40px 0px;
        width: 80%;
    }
    .single-review-container {
        width: calc(88%);
    }
    .expertise-item {
        width: calc(90% / 3)
    }
}
@media (max-width: 768px) {
    .expertise-item {
        width: 100%;
    }
    #appointment-form {
        height: 100vh;
        width: 100vw;
    }
    #provider-location {
        padding: 12px;
    }
    .apt-line {
        flex-direction: column;
        text-align: left;
        padding-right: 20px;
    }
    .pages-header {
        background-image: url(https://i.imgur.com/MdQsFeE.webp);
        background-size: cover;
        background-position: center;
    }
    .about-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-title {
        /* padding: 100px 0px 0px 0px; */
        font-size: 1.5rem;
        width: 70vw;
        text-align: center;
        font-weight: 700;
        line-height: 30px;
    }
    .about-description {
        width: 80vw;
        font: 1em;
        font-weight: 400;
    }
    .header-image-container {
        display: block;
    }
    .header-image {
        margin: 0 auto 20px auto;
    }

    .page-container,
    .about-content {
        padding: 20px;
    }

    .section-title {
        font-size: 35px;
    }

    .follow-us-title {
        font-size: 35px;
    }

    .location-icon-container .fas {
        font-size: 40px;
    }

    .header-top {
        display: block;
        text-align: center;
    }

    .page-top-header {
        display: block;
    }

    .page-image-container {
        padding: 0 0 30px 0;
    }

    .grid-item {
        width: calc(90% / 2);
    }

    .physician-left {
        width: 100%;
        padding: 0 15px;
    }
    .physician-right {
        width: 100%;
        padding: 0 15px 35px 15px;
    }

    .specialties {
        display: none;
    }

    .specialties-mobile {
        display: flex;
    }

    .home-banner {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0px;
    }

    .home-banner:after {
        left: 0;
        -webkit-transform: skew(0deg);
        transform: skew(0deg);
        width: 100%;
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        min-width: 0px;
    }

    .banner-title-container {
        display: flex;
        flex-direction: column;
        margin-top: -100px;
    }

    .banner-title {
        font-size: 48px;
        padding-right: 5px;
    }
    
    .banner-description {
        padding: 20px 10px 20px 10px;
        width: 90%;
    }

    .header-buttons-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .physician-name.desktop {
        display: none;
    }

    .physician-name.mobile {
        display: block;
    }

    .home-reviews {
        padding: 0 35px 35px 35px;
    }

    .single-review-container {
        padding: 15px;
    }

    .review-info {
        padding: 0 25px;
    }

    .info-window-container {
        width: 180px;
        left: -185px;
    }
}

@media (max-width: 576px) {
    #chat-form-lines-request-apt {
        width: 91%;
        padding-right: 20px;

    }
    .apt-line {
        flex-direction: column;
        text-align: left;
        padding-right: 20px;
        width: 90%;
    }
    .radio-circle {
        width: 30%;
    }
    .pages-header {
        background-size: cover;

    }
    .grid-item {
        width: 100%;
    }
    .expertise-item {
        width: 100%;
    }

    .mobile-menu-button {
        top: 15px;
    }
}
