*,
::after,
::before {
    box-sizing: border-box;
}

/* fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap"); */

:root {
    /* colors */
    --black: #222;
    --white: #fff;
    --yellow: #fbec4b;
    --blue: #002e6d;
    --blue-dark: #052754;
    --blue-light: #004080;
    --grey-light: #dde4ed;
    --grey-dark: #64748b;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

a,
a:active {
    color: var(--black);
}
/*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*-*7/11/23 3:26am*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*/
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-weight: bold;
    line-height: 1.3;
    text-transform: capitalize;
}
/*We recieved an error in lighthouse and this is my temporary fix */

/*Title: Heading elements are not in a sequentially-descending order*/
/*Description: Properly ordered headings that do not skip levels convey the semantic structure of the page, making it easier to navigate and understand when using assistive technologies.*/
/*Link: Learn more about heading order. ~> https://dequeuniversity.com/rules/axe/4.6/heading-order*/
/*Reference: Failing Elements ~> h4.footer-title*/

/*Temporary Fix*/
/*Footer.js has span's instead of h4's for the temporary fix and added id h-four-temp-fix because className already present*/
span#h-four-temp-fix {
    margin: 0;
    margin-bottom: 1.38rem;
    font-weight: bold;
    line-height: 1.3;
    text-transform: capitalize;
    /*-*-*Added*-*-*/
    font-size: 1.1rem;
    /*-*-*Added*-*-*/
}
/*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*/

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.text-center {
    text-align: center;
}

.error-section {
    padding: 100px;
}
/* buttons */

.btn {
    cursor: pointer;
    color: var(--black);
    background: var(--white);
    border: transparent;
    padding: 0.375rem 0.75rem;
    transition: 0.3s all ease-in-out;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    opacity: 0.9;
}

.active {
    color: var(--primary-500);
}

.container {
    padding: 0 35px;
    max-width: 1200px;
    margin: 0 auto;
}

.page-container {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.home-map,
.location-map-section {
    height: 600px;
}

.map-marker {
    font-size: 40px;
    color: var(--blue);
    cursor: pointer;
    z-index: 10;
}

.map-marker:hover {
    transform: translate(0px, -3px);
}

.map-float-menu {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
}

.map-float-title {
    font-size: 16px;
    margin: 0 0 3px 0;
}

.map-float-info {
    font-size: 12px;
}

.map-float-info-container {
    background-color: var(--white);
    display: flex;
    line-height: 1.3;
    margin: 5px 0 5px 5px;
    width: fit-content;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    padding: 3px 10px;
}

.map-float-mobile-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map-float-info-container.show-extra {
    border: 2px solid rgb(218, 145, 0);
}

.map-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.map-float-menu-info {
    flex: 1 1 auto;
    padding: 7px 10px;
    width: 160px;
}

.map-float-menu-extra {
    display: none;
    padding: 7px 10px;
    width: 160px;
}

.show-extra .map-float-menu-extra {
    display: block;
}

.mobile-show {
    display: none;
}

.info-window-container {
    background-color: var(--white);
    border-radius: 2px;
    box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%);
    font-size: 14px;
    padding: 10px 10px 0;
    position: relative;
    width: 220px;
    z-index: 100;
    bottom: 255px;
    left: -235px;
}

.chicago-office {
    bottom: 210px;
}

.info-window-container.marker-selected.chicago {
    bottom: 255px;
    left: -185px;
}

.info-window-text {
    font-size: 13px;
    width: 165px;
}

.info-window-image {
    border-radius: 0 0 2x 2px;
}

.close-info-window {
    position: absolute;
    top: 3px;
    right: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
}

.info-window-image-container {
    margin: 10px -10px 0 -10px;
}

/*CAROUSEL STYLES */

.home-hero {
    position: relative;
    min-height: 720px;
    /* background-color: var(--blue); */
    background-color: white;
}

.Carousel-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.slide {
    height: 100%;
    width: 100%;
}

.slide:not(.first-slide) .show {
    animation: fade 1.5s ease-in-out;
}

.show {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-img {
    height: 100%;
    width: 100%;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.not-show {
    display: none;
}
/* HEADER STYLES */
.main-header {
    background-color: var(--white);
    padding: 35px 0 0 0;
}

.header-title-div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    line-height: 1em;
    padding: 25px;
    text-transform: none;
}

.logo-link {
    display: flex;
    flex-direction: row;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
}

.header-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-image {
    width: 300px;
    height: auto; /* This allows the image to be responsive */
    background-size: cover; /* Adjust the background size as needed */
    background-repeat: no-repeat;
}

.header-title {
    font-size: 1.4rem;
    max-width: 500px;
    margin: 0px;
}

.header-button-yellow {
    background-color: transparent;
    border-style: solid;
    border-color: var(--grey-dark);
    border-width: 2px;
}

.header-button-yellow:active {
    color: var(--black);
}

.header-button-dark,
.header-button-dark:active {
    background-color: var(--black);
    color: var(--white);
    margin-right: 10px;
}

.team-btn,
.team-btn:active {
    background-color: var(--blue);
    color: var(--white);
    padding: 20px 35px;
}

.header-button-blue,
.header-button-blue:active {
    background-color: var(--blue-dark);
    color: var(--white);
    margin-right: 10px;
}

/* END HEADER STYLES */

/* NAVBAR STYLES */

.navbar {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.nav-link-container {
    position: relative;
}

.link-items {
    position: relative;
}

.nav-link {
    display: block;
    color: var(--black);
    padding: 18px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.sub-link.mobile-nav-link {
    display: none;
}

.nav-link:active {
    color: var(--white);
}

.nav-link.active {
    border-bottom: 2px solid var(--yellow);
}

.nav-link-container:hover > .nav-link {
    background-color: var(--blue-dark);
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 300px;
    z-index: 2;
}

.sub-link {
    padding: 20px;
    text-decoration: none;
    border-bottom: 1px solid var(--grey-light);
}

.sub-link:active {
    color: var(--black);
}

.sub-link:hover,
.sub-link.active {
    background-color: var(--grey-light);
}

/* END NAVBAR STYLES */

/* PAGES STYLES */
.pages-header {
    background-image: url(https://i.imgur.com/R51cppU.webp);
    border-bottom: 5px solid #002e6d;
    color: #fff;
    padding: 40px;
    position: relative;
}

.pages-header:after {
    background-color: var(--blue);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
}

.page-top-header {
    display: flex;
    padding: 50px 0 0 0;
}

.page-image-container {
    width: 100%;
    padding: 0 30px 30px 0;
}

.page-info {
    width: 100%;
}

.pages-title {
    position: relative;
    z-index: 1;
}

.page-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.grid-item {
    padding: 15px;
    width: calc(100% / 3);
}

.physician-header {
    text-align: center;
    margin: 50px 0;
}

.physician-name {
    font-size: 20px;
    margin: 35px 0;
}

.specialty-list {
    padding: 0 0 0 15px;
}

.specialty-item {
    font-size: 17px;
    margin: 13px 0;
}

.physician-name.mobile {
    display: none;
}

.physician-link {
    text-decoration: none;
}

.physician-link .fas {
    margin: 0 0 0 10px;
}

.physician-left {
    width: 40%;
    padding: 50px 50px 50px 15px;
}

.physician-right {
    width: 60%;
    padding: 50px 50px 15px 50px;
}

.specialties {
    display: flex;
    margin: 0 -15px;
}

.specialties-item {
    padding: 15px;
    width: calc(100% / 2);
}

.specialties-list {
    padding: 0 0 0 15px;
    font-size: 17px;
}

.specialties-mobile {
    display: none;
    margin: 0 -15px;
}

.specialties-list-item a {
    color: blue;
    text-decoration: underline; /* Optional: Add underline to indicate it's a link */
}
/* END PAGES STYLES */

/* EXPERTISE STYLES */

.home-expertise {
    padding: 50px 0;
}

.expertise-header-description {
    width: 800px;
    margin: 35px auto;
}

.expertise-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0;
}

.expertise-name {
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

.link-item {
    text-align: center;
}
.expertise-name:hover {
    text-decoration: underline;
}

.expertise-item {
    width: calc(100% / 5);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.expertise-image-link {
    width: 60px;
    transition: 0.3s all ease-in-out;
    display: inline-block;
}

.expertise-image-link:hover {
    opacity: 0.7;
}

.expertise-description {
    margin: 15px 0;
}
/* END EXPERTISE STYLES */

.about-content {
    padding: 50px;
    max-width: 900px;
    margin: 0 auto;
}

.about-image-container {
    max-width: 500px;
    margin: 35px auto;
}

.about-link.btn {
    background-color: var(--blue);
    color: white;
    margin: 10px 10px 10px 0;
}

.about-grid-item {
    margin: 0 0 15px 0;
}

.div-card {
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 20%);
    margin: 20px 0;
    padding: 20px;
}

.section-title {
    margin: 30px auto;
    text-align: center;
    padding: 10px 15px;
    font-size: 2.5rem;
    max-width: 600px;
}

.home-team,
.home-locations {
    align-items: center;
    /* background: url(https://i.imgur.com/77LJQ2y.webp) 0 0 no-repeat; */
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    min-height: 600px;
}

.home-locations {
    /* background: url(https://i.imgur.com/pP2cSdc.webp) 0 0 no-repeat; */
}

.location-icon-container {
    padding: 70px 0 50px 0;
    color: var(--yellow);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location-icon-container .fas {
    padding: 10px;
    font-size: 60px;
}

/* REVIEWS */
.home-reviews {
    min-height: 600px;
    padding: 0 100px 50px 100px;
}

.reviews-container {
    max-width: 1024px;
    margin: 0 auto;
}

.review-date {
    font-style: italic;
    font-size: 15px;
    max-width: 140px;
}

.review-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-review-container {
    color: var(--white);
    box-shadow: 2px 2px 20px rgb(112 156 233 / 75%);
    border-radius: 12px;
    background-color: #1463f3;
    padding: 35px;
    margin: 0 0 20px 0;
}

.user-name {
    font-weight: bold;
    font-size: 20px;
}

.review-info {
    position: relative;
    padding: 0 35px;
}

.review-info .fa {
    position: absolute;
    color: rgb(112, 156, 233);
    font-size: 23px;
}

.review-info .fa-quote-right {
    bottom: 0;
    right: 0;
}

.review-info .fa-quote-left {
    top: 0;
    left: 0;
}

.review-name-container {
    line-height: 1.3;
    flex: 1 1 auto;
}

.review-top-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-icon {
    font-size: 70px;
    margin: 0 10px 0 0;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name .fa-yelp {
    color: #ff1a1a;
}

.review-paragraph {
    font-style: italic;
}

/* END REVIEWS */

.home-team:after,
.home-locations:after {
    /* background: linear-gradient(
        90.1deg,
        rgba(0, 46, 109, 0.9) 0.2%,
        rgba(251, 236, 75, 0.2) 99.9%
    ); */
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.section-content {
    position: relative;
    z-index: 3;
    max-width: 1024px;
    margin: 0 auto;
}

/*FOOTER STYLES*/
.main-footer {
    background-color: var(--black);
    color: var(--white);
    padding: 60px 35px;
}

.footer-grid {
    display: flex;
    flex-wrap: wrap;
}

.footer-item {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-link {
    text-decoration: none;
    color: var(--white);
}

.footer-link:active {
    color: var(--white);
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-word-wrap {
    font-size: 30px;
    line-height: 1.25;
}

.mobile-menu-button {
    display: none;
    position: absolute;
    font-size: 35px;
    color: var(--white);
    background: none;
    border: none;
    right: 10px;
}

.mobile-toggle-submenu {
    display: none;
}

/*HOME BANNER*/

.home-banner {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    min-height: inherit;
    padding: 35px;
    position: relative;
    width: 50%;
    z-index: 1;
}

.home-banner:after {
    background: rgba(240, 93, 31, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.1px);
    -webkit-backdrop-filter: blur(0.1px);
    content: '';
    display: inline-block;
    height: 100%;
    left: -200px;
    position: absolute;
    top: 0;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
    width: calc(100% + 300px);
    z-index: -1;
}

.home-banner .btn {
    padding: 20px 8px;
    width: 150px;
    text-align: center;
    margin: 0 0 10px 0;
}

@media (min-width: 1025px) {
    .nav-link-container:hover > .submenu {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1160px) {
    .header-title {
        display: none;
    }
    span#h-four-temp-fix {
        margin: 45px 0 15px 0;
    }

    .mobile-show {
        display: block;
    }
    .expertise-item {
        width: calc(100% / 2);
        padding: 40px;
    }

    .expertise-header-description {
        width: auto;
    }

    .main-footer {
        padding: 60px 35px 60px 0;
    }

    .footer-grid {
        display: block;
    }

    .footer-item {
        width: 100%;
    }

    .footer-title {
        margin: 50px 0 20px 0;
    }

    .word-wrap-container {
        display: block;
    }

    .footer-word-wrap {
        display: inline-block;
        margin: 0 15px 0 0;
    }

    /*Mobile Menu */
    .mobile-menu-button {
        display: flex;
        top: 35px;
    }

    .navbar {
        display: none;
    }

    .navbar.mobile-menu-show {
        display: flex;
        flex-direction: column;
    }

    .header-buttons-container {
        margin: 0 40px 0 0;
    }

    .main-header {
        padding: 35px 0;
    }

    .mobile-toggle-submenu {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: transparent;
        border: none;
        color: var(--white);
        font-size: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .nav-link {
        padding: 20px 40px;
    }

    .submenu {
        position: static;
        flex-direction: column;
        width: 100%;
        min-width: 0;
    }

    .sub-link {
        padding: 20px 40px;
    }

    /*MOBILE MENU CONTROLS */

    .sub-link.mobile-nav-link {
        display: block;
    }
    .About-open .About-nav > .submenu,
    .Services-open .Services-nav > .submenu,
    .Physicians-open .Physicians-nav > .submenu {
        display: flex;
    }

    /*END MOBILE MENU CONTROLS */

    .show-extra .map-float-menu-extra,
    .map-float-info {
        display: none;
    }

    .map-float-info-container.show-extra {
        display: flex;
    }

    .map-float-menu {
        display: flex;
        bottom: 0;
        top: auto;
        width: 100%;
    }

    .map-float-info-container {
        width: calc(100% / 4);
        border-radius: 10px;
        overflow: hidden;
        margin: 3px;
        padding: 0;
    }

    .map-float-mobile-background {
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .map-float-menu-info {
        height: 100px;
        width: 100%;
        padding: 0;
    }

    .map-float-title {
        margin: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-weight: bold;
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 768px) {
    .header-image {
        margin: 0 auto 20px auto;
    }

    .page-container,
    .about-content {
        padding: 20px;
    }

    .section-title {
        font-size: 35px;
    }

    .location-icon-container .fas {
        font-size: 30px;
    }

    .header-top {
        display: block;
        text-align: center;
    }

    .page-top-header {
        display: block;
    }

    .page-image-container {
        padding: 0 0 30px 0;
    }

    .grid-item {
        width: calc(100% / 2);
    }

    .physician-left {
        width: 100%;
        padding: 0 15px;
    }
    .physician-right {
        width: 100%;
        padding: 0 15px 35px 15px;
    }

    .specialties {
        display: none;
    }

    .specialties-mobile {
        display: flex;
    }

    .home-banner {
        width: 100%;
        display: block;
    }

    .home-banner:after {
        left: 0;
        -webkit-transform: skew(0deg);
        transform: skew(0deg);
        width: 100%;
    }

    .banner-title {
        font-size: 25px;
    }

    .header-buttons-container {
        margin: 0;
    }

    .physician-name.desktop {
        display: none;
    }

    .physician-name.mobile {
        display: block;
    }

    .home-reviews {
        padding: 0 35px 35px 35px;
    }

    .single-review-container {
        padding: 15px;
    }

    .review-info {
        padding: 0 25px;
    }

    .info-window-container {
        width: 180px;
        left: -185px;
    }
}

@media (max-width: 576px) {
    .grid-item {
        width: 100%;
    }
    .expertise-item {
        width: 100%;
    }

    .mobile-menu-button {
        top: 15px;
    }
}
