@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}

#container {
    position: relative;
    /* margin: auto; */

    height: 40px;
}

#text1,
#text2 {
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.7), 
      0px -4px 10px rgba(255,255,255,0.7);

    user-select: none;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#text1.fade-in {
    animation-name: fadeIn;
}

#text2.fade-out {
    animation-name: fadeOut;
    animation-delay: 0.2s;
}
/* 
@media (max-width: 420px) {
    #container {
        height: 20px;
    }
    #text1,
    #text2 {
        position: relative;
        width: 100%;
        display: inline-block;
        font-size: 0.3rem;
        letter-spacing: 0.8px;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.7), 
        0px -4px 10px rgba(255,255,255,0.7);

        user-select: none;
        opacity: 0;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    #text2 {
        letter-spacing: 1px;
    }
} */
@media (max-height: 650px) {   
    #container {
        height: 15px;
        display: flex;
        align-items: center;
    }
    #text1,
    #text2 {
        position: relative;
        width: 100%;
        display: inline-block;
        font-size: 0.5rem;
        letter-spacing: 1.5px;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.7), 
        0px -4px 10px rgba(255,255,255,0.7);

        user-select: none;
        opacity: 0;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}
@media (max-height: 650px) {   
    #text1,
    #text2 {
        font-size: 0.4rem;
        letter-spacing: 1.5px;

    }

}
@media (max-width: 450px) {
    #text1,
    #text2 {
        position: relative;
        width: 100%;
        display: inline-block;
        font-size: 0.7rem;
        letter-spacing: 1px;

    }
}
@media (max-width: 240px) {
    #container {
        height: 15px;
    }
    #text1,
    #text2 {
        position: relative;
        width: 100%;
        display: inline-block;
        font-size: 0.4rem;
        letter-spacing: 1px;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.7), 
        0px -4px 10px rgba(255,255,255,0.7);

        user-select: none;
        opacity: 0;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    #text2 {
        letter-spacing: 1px;
    }
}