/*HOME BANNER*/
.home-banner {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: inherit;
    padding: 0px 120px 0px 120px;
    position: relative;
    /* width: 50%; */
    z-index: 1;
}
.home-banner:after {
    background: rgba(143, 0, 72, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.1px);
    content: '';
    display: inline-block;
    height: 100%;
    left: -200px;
    position: absolute;
    top: 0;
    -webkit-transform: skew(-19deg);
    transform: skew(-18deg);
    width: calc(64% - 148px);
    min-width: 850px;
    z-index: -1;

}
.banner-title {
    font-size: 4rem;
    /* letter-spacing: 0.04em; */
    /* font-weight: 550; */
    padding: 0px;
    margin: 0px;
    /* font-family: sans-serif; */
}
.banner-description {
    width: 450px;
    font-size: 1.2em;
    margin: 60px 0px 60px 0px;
}
.home-banner .btn {
           /* T   R    B    L  */
    /* padding: 10px 20px 10px 20px; */
    /* text-align: center; */
    /* margin: 0 0 10px 0; */
    /* background-color: var(--white); */
    /* border: none; */
    /* text-transform: uppercase; */
    /* font-size: 1rem; */
}
#banner-btn-arrow {
    padding: 0px 0px 0px 20px;

}
/*CAROUSEL STYLES */

.home-hero {
    position: relative;
    min-height: 720px;
    background-color: white;
}
.Carousel-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(250, 0, 0, 0.1);
}
@media (max-width: 1030px) {
    .home-hero {
        min-height: 70vh;
    }
    .home-banner {
        display: flex;
        justify-content: center;
        height: 100%;
        min-height: 70vh;
        padding: 0 0px 0px 40px;
        margin: 0px 0px 0px 0px;
    }
    .home-banner:after {
        min-width: 75vw;
        height: 70vh;
    } 
    .Carousel-container {
        height: 70vh;
    }
    .banner-title {
        line-height: 64px;
        font-size: 4rem;
        padding: 0px 0px 0px 0px;
        margin: 2px 0px 0px 10px;
    }
    .banner-description {
        font-size: 1.5rem;
        width: 40%;
        margin: 65px 0px 65px 15px;
    }
    .home-banner .btn {
        padding: 0px 5px 0px 10px;
        margin: 5px 0px 5px 15px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
    .banner-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .banner-wrapper {
        display: flex;
        flex-direction: row;
        width: 65%;
        align-items: center;
    }
    #banner-btn-arrow {
        padding: 2px 10px 0px 5px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
@media (max-width: 815px) {
    .home-hero {
        min-height: 60vh;
    }
    .home-banner {
        display: flex;
        justify-content: center;
        height: 100%;
        min-height: 60vh;
        padding: 0px 0px 0px 30px;
        margin: 0px 0px 0px 0px;
    }
    .home-banner:after {
        min-width: 70vw;
        height: 60vh;
    } 
    .Carousel-container {
        height: 60vh;
    }
    .banner-title {
        line-height: 1.5;
        font-size: 2.5rem;
        padding: 0px 0px 0px 0px;
        margin: 2px 0px 0px 10px;
    }
    .banner-description {
        font-size: 01rem;
        width: 35%;
        margin: 15px 0px 15px 15px;
    }
    .home-banner .btn {
        padding: 0px 5px 0px 5px;
        margin: 35px 0px 40px 15px;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
    .banner-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .banner-wrapper {
        display: flex;
        flex-direction: row;
        width: 65%;
        align-items: center;
    }
    #banner-btn-arrow {
        padding: 5px 0px 0px 5px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
@media (max-width: 740px) {
    .home-hero {
        min-height: 80vh;
    }
    .home-banner {
        display: flex;
        justify-content: center;
        height: 100%;
        min-height: 70vh;
        padding: 30px 0px 0px 30px;
        margin: 0px 0px 0px 0px;
    }
    .home-banner:after {
        min-width: 510px;
        height: 80vh;
    } 
    .Carousel-container {
        height: 80vh;
    }
    .banner-title {
        font-size: 2rem;
        padding: 0px 0px 0px 0px;
        margin: 2px 0px 0px 10px;
    }
    .banner-description {
        font-size: 0.7rem;
        width: 35%;
        margin: 15px 0px 15px 15px;
    }
    .home-banner .btn {
        padding: 0px 5px 0px 5px;
        margin: 5px 0px 5px 15px;
        font-size: 0.4rem;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
    .banner-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .banner-wrapper {
        display: flex;
        flex-direction: row;
        width: 65%;
        align-items: center;
    }
    #banner-btn-arrow {
        padding: 2px 0px 0px 5px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

@media (max-width: 700px) {
    .home-hero {
        min-height: 80vh;
    }
    .home-banner {
        display: flex;
        justify-content: center;
        height: 100%;
        min-height: 70vh;
        padding: 20px 0px 0px 30px;
        margin: 0px 0px 0px 0px;
    }
    .home-banner:after {
        min-width: 510px;
        height: 80vh;
    } 
    .Carousel-container {
        height: 80vh;
    }
    .banner-title {
        font-size: 2rem;
        padding: 0px 0px 0px 0px;
        margin: 2px 0px 0px 10px;
    }
    .banner-description {
        font-size: 0.7rem;
        width: 35%;
        margin: 15px 0px 15px 15px;
    }
    .home-banner .btn {
        padding: 0px 5px 0px 5px;
        margin: 5px 0px 5px 15px;
        font-size: 0.4rem;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        
    }
    .banner-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .banner-wrapper {
        display: flex;
        flex-direction: row;
        width: 65%;
        align-items: center;
    }
    #banner-btn-arrow {
        padding: 2px 0px 0px 5px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
@media (max-width: 415px) {
    .home-hero {
        min-height: 70vh;
    }
    .home-banner {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        min-height: 70vh;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    .home-banner:after {
        min-width: 420px;
        min-height: 70vh;
        height: 70vh;
    } 
    .Carousel-container {
        height: 70vh;
    }
    .banner-title {
        font-size: 1.6rem;
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 10px;
    }
    .banner-description {
        font-size: 0.7rem;
        width: 48%;
        margin: 15px 0px 15px 15px;
    }
    .home-banner .btn {
        padding: 0px 5px 0px 5px;
        margin: 5px 0px 50vw 15px;
        font-size: 0.4rem;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
    .banner-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .banner-wrapper {
        display: flex;
        flex-direction: row;
        width: 65%;
        align-items: center;
    }
    #banner-btn-arrow {
        padding: 2px 0px 0px 5px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
@media (max-width: 350px) {
    .home-hero {
        min-height: 80vh;
    }
    .home-banner {
        display: flex;
        justify-content: flex-start;
        height: 100%;
        min-height: 80vh;
        padding: 20px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    .Carousel-container {
        height: 88vh;
    }
    .home-banner:after {
        min-width: 355px;
        height: 80vh;

    } 
    .banner-title {
        font-size: 1rem;
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 15px;
    }
    .banner-description {
        font-size: 0.5rem;
        width: 38%;
        margin: 15px 0px 15px 15px;
    }
    .home-banner .btn {
        padding: 0px 5px 0px 5px;
        margin: 5px 0px 50vw 15px;
        font-size: 0.4rem;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        position: absolute;
        bottom: calc(60vh - 50%); /* Position the button 50vw down from the top of the viewport */
        left: 0; /* Adjust as needed based on your layout */
        margin: 5px 5px 5px 15px;
    }
    #banner-btn-arrow {
        padding: 2px 0px 0px 5px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
@media (max-width: 275px) {
    .home-hero {
        min-height: 79vh;
        margin-bottom: 0px;
    }
    .home-banner {
        display: flex;
        height: 100%;
        min-height: 67vh;
        padding: 40px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    .home-banner:after {
        min-width: 360px;
        height: 80vh;
        left: -200px;
        transform: skew(-18deg);
        width: calc(64% - 148px);
    }
    .Carousel-container {
        height: 80vh;
    }
    .banner-title {
        font-size: 1.5rem;
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 15px;
    }
    .banner-description {
        font-size: 0.7rem;
        width: 60%;
        margin: 15px 0px 15px 15px;
    }
    .home-banner .btn {
        padding: 0px 5px 0px 6px;
        margin: 5px 0px 0px 15px;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        bottom: unset;
    }
    #banner-btn-arrow {
        padding: 0px 0px 0px 5px;
    }
}

/* Media Responsive Begin */

/* 
@media (max-width: 1030px) {

}
@media (max-width: 815px) {

}
@media (max-width: 740px) {

}

@media (max-width: 700px) {

}
@media (max-width: 415px) {

}
@media (max-width: 350px) {

}
@media (max-width: 275px) {

} 
*/

/* ----Media Responsive End---- */