/* EXPERTISE STYLES */

.home-expertise {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/public/CaliBackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home-expertise .fas {
    color: rgb(143, 0, 72);
    font-size: 3rem;
}

.expertise-header {
    margin: 50px 25px 25px 25px;
    text-align: center;
    color: var(--white);
    font-size: 3rem;
    font-family: sans-serif;
}

.expertise-header-description {
    width: 980px;
    margin: 20px auto;
    text-align: center;
    font-weight: 500;
    color: white;
}

.expertise-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 10px; /* Adjust spacing between items */
    padding: 60px 0px 0px 0px;
}

.expertise-name {
    font-weight: bold;
    font-family: Roboto;
    font-size: 1.4rem;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 0.05rem;
}

.link-item {
    text-align: center;
}
.expertise-name:hover {
    text-decoration: underline;
}

.expertise-item {
    width: 25.6%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white); /* Very light blue background */

}
.expertise-image {
    min-height: 236px;
    width: 100%;
}
.expertise-image-link {
    transition: 0.3s all ease-in-out;
}

.expertise-image-link:hover {
    opacity: 0.7;
}

.expertise-description {
    margin: 15px 0;
}
.section-title {
    margin: 30px auto;
    text-align: center;
    /* padding: 10px 15px; */
    font-size: 3rem;
    font-family: sans-serif;
    max-width: 740px;
    color: white;
}
.home-expertise .fa-angle-double-right {
    font-size: 1.5rem;
    align-self: center;
    padding-left: 10px;

}
@media (max-width: 1030px) {
    .home-expertise {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('/public/CaliBackground.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .section-title {
        margin: 40px auto;
        text-align: center;
        font-size: 2.5rem;
        font-family: sans-serif;
        max-width: 740px;
        color: white;
    }
    .home-expertise .fas {
        color: rgb(143, 0, 72);
        font-size: 2.2rem;
    }
    .expertise-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 80px 0px 65px 0px;
    }
    .expertise-item {
        width: 30.6%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white); /* Very light blue background */
    }
    .expertise-image {
        max-height: 180px;
        width: 100%;
    }
    .expertise-name {
        font-weight: bold;
        font-family: Roboto;
        font-size: 1rem;
        padding: 5px 0px 5px 0px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        letter-spacing: 0.05rem;
    }
    .home-expertise .fa-angle-double-right {
        font-size: 0.9rem;
        align-self: center;
        padding-left: 10px;

    }
}

@media (max-width: 750px) {
    .home-expertise {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('/public/CaliBackground.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .section-title {
        margin: 10px auto;
        text-align: center;
        font-size: 1.5rem;
        font-family: sans-serif;
        max-width: 740px;
        color: white;
    }
    .home-expertise .fas {
        color: rgb(143, 0, 72);
        font-size: 1.2rem;
    }
    .expertise-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 30px 0px 15px 0px;
    }
    .expertise-item {
        width: 45.6%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white); /* Very light blue background */
    }
    .expertise-image {
        max-height: 180px;
        width: 100%;
    }
    .expertise-name {
        font-weight: bold;
        font-family: Roboto;
        font-size: 1rem;
        padding: 5px 0px 5px 0px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        letter-spacing: 0.05rem;
    }
    .home-expertise .fa-angle-double-right {
        font-size: 0.9rem;
        align-self: center;
        padding-left: 10px;

    }
}

@media (max-width: 550px) {
    .expertise-grid {
        gap: 5px;
    }
    .expertise-name {
        font-size: 0.6rem;
    }
    .expertise-image {
        max-height: unset;
        min-height: unset;
    }
}

@media (max-width: 350px) {
    .home-expertise {
        padding: 10px 0;
    }
}