<!DOCTYPE html>
<html>
<head>
  <title>Your Application Name</title>
  <%= csrf_meta_tags %>
  <!-- Add your other meta tags, stylesheets, and scripts here -->
</head>
<body>
  <%= yield %>
  <!-- Add your common layout elements like navigation, footer, etc. here -->
</body>
</html>
